/* #dn{
    margin-left: 5px;
}

#del{
    margin-left: 5px;
} */

hr{
    opacity:0.7;
}

.sp{
    min-width:300px;
}

#d1{
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
  column-gap: 30px;
  grid-column-start:1;
  grid-column-end:4;
}

.textCenter{
    text-align:center;
}

#inputBtn{
    margin-left:44%;
}